/*------------------------------------*\
#FONTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-light: #b0b0b8;
    --color-dark: #464646;
    --color-front: var(--color-dark);
    --color-back: var(--color-light);
    --global-color-secondary:#006DB0;

    --global-color-error: #FF3333;
    --global-color-error-x-transparent: #FF33334d;

    --global-input-error-borderColor: var(--global-color-error);
    --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}


.is-night {
    --color-front: var(--color-light);
    --color-back: var(--color-dark);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: var(--color-back);
    color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "zero";
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


::selection {
    background: var(--color-light);
    color: none;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    vertical-align: top;
    max-width: 100vw;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin: 0 0 1.5rem;
    color: white;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1, 625rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.4375rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 1.33333rem;
    line-height: 1rem;
    margin-top: 0.5rem;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-back);
    grid-gap: 2.5rem;
    row-gap: 0.625rem;
    justify-items: center;
    padding: 2.5rem 5rem 1.25rem 5rem;
}

.o-grid-head {
    justify-items: center;
}

.o-grid__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.o-grid__header h1 {
    position: absolute;
}

.o-grid_header img {
    position: absolute;
    top: 0;
    width: 100vw;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-grid {
    padding: 3.75rem;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 2fr));
    align-items: center;
}

.c-grid__landing {
    padding: 3.75rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
    align-items: center;
}

.landingpage {
    color: var(--color-light);
}

.landingpage_subtitle {
    color: white;
}

.c-email {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0.3125rem solid var(--global-color-secondary);
    border-radius: 1rem;
    box-shadow:
        inset 0 0 0.5rem rgba(0, 0, 0, 0.1),
        0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: white;
    margin: 0.5rem 0 0.3125rem 0;
}

.c-email:focus,
.c-email:hover {
    box-shadow: h-offset v-offset blur spread color;
    box-shadow: 0 0 0 0.0625rem white;
}

.c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: var(--global-color-secondary);
    height: 3rem;
    margin: 0 0 0.625rem 0;
    padding: 1rem;
}

.c-button:focus,
.c-button:hover {
    box-shadow: h-offset v-offset blur spread color;
    box-shadow: 0 0 0 0.0625rem white;
}

.c-button:active {
    background-color: #1a8acf;
}

.c-label__error-message {
    font-weight: 600;
    float: right;
    display: none;
    color: red;
}

.c-label__error-message.is-visible {
    display:block;
    width: 100%;
}
.c-label__success {
    font-weight: 600;
    float: right;
    display: none;
    width: 100%;
}

.c-mockup-img{
    max-height: 30rem;
}
.c-mockup-imageholder{
    display: flex;
    justify-content: center;
}

.c-parking-card {
    width: 16rem;
    max-width: 100%;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 1rem grey;
    overflow: hidden;
    transition: 125ms ease-in-out;
    -webkit-transition: 125ms ease-in-out;
    -moz-transition: 125ms ease-in-out;
    margin: 1rem 0;
}


/*------------------------------------*\
#States
\*------------------------------------*/

.has-error {
    border: 0.3125rem solid var(--global-input-error-borderColor);
}

.switch {
    position: absolute;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;
    top: 1rem;
    right: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2.125rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--global-color-secondary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--global-color-secondary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
}

.top-smaller {
    margin: 0.3125rem;
    width: 75%;
    border-bottom: 0.125rem solid black;
}

.maan {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.4375rem;
    max-width: 1.25rem;
    max-height: 1.25rem;
    cursor: pointer;
}

.zon {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 2.125rem;
    max-width: 1.25rem;
    max-height: 1.25rem;
    cursor: pointer;
}

@media (max-width: 48rem) {
    .o-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 2.5rem 0.625rem 1.25rem 0.625rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 48rem) {
    .o-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 4rem;
    }

}

@media (min-width: 52rem) {
    h1 {
        font-size: 4rem;
    }
    .c-grid__landing{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (min-width: 62rem) {
    .o-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 5rem;
    }

}

@media (min-width: 66rem) {
    h1 {
        font-size: 6.5rem;
    }
}